<div class="col-12 col-md-8 col-lg-6">
    <span class="col-12 float-left clear-left text-right px-0">{{hours.left}} hours left of {{hours.total}}</span>
    <span class="float-left clear-left col-12 p-0">
        <label for="start_date" class="col-6 float-left clear-left">Start date: </label>
        <input type="date" id="start_date" value="{{date}}" class="col-4 float-left" (change)="end_date.value = start_date.value" #start_date>
        <input type="time" title="Start time" value="09:00" class="col-2 float-right" (change)="end_time.value = start_time.value" step="1800" min="08:00" max="18:00" #start_time>
    </span>
    <span *ngIf="startTimeError != ''" class="col-6 text-danger float-right clear-right px-0 text-right">{{startTimeError}}</span>

    <span class="float-left clear-left col-12 p-0">
        <label for="end_date" class="col-6 float-left clear-left">End date: </label>
        <input type="date" id="end_date" value="{{date}}" class="col-4 float-left" #end_date>
        <input type="time" title="End time" value="17:00" class="col-2 float-right" step="1800" min="08:00" max="18:00" #end_time>
    </span>
    <span *ngIf="endTimeError != ''" class="col-6 text-danger float-right clear-right px-0 text-right">{{endTimeError}}</span>

    <span class="float-left clear-left col-12 p-0">
        <label for="type" class="col-6 float-left clear-left">Leave type: </label>
        <select id="type" class="col-6 float-right" #type>
            <option value="pto">PTO</option>
            <option value="special">Special</option>
            <option value="appointment">Doctor's appointment</option>
            <option value="standard" *ngIf="user.admin === true">Standard</option>
        </select>
    </span>

    <span class="float-left clear-left col-12 p-0">
        <label for="description" class="col-6 float-left clear-left">Description: </label>
        <textarea id="description" class="col-6 float-right" rows="1" #descr>{{description}}</textarea>
    </span>
    <span *ngIf="descriptionError != ''" class="col-6 text-danger float-right clear-right px-0 text-right">{{descriptionError}}</span>

    <button class="col-6 float-right clear-right mt-2 bg-dark border border-secondary text-light"
            (click)="request(start_date.value, start_time.value, end_date.value, end_time.value, type.selectedOptions[0].value, descr.value)">SUBMIT</button>

    <span *ngIf="success" class="col-6 float-right clear-right text-success text-right px-1">Leave requested!</span>

    <div class="col-12 float-left clear-left mt-5 flex-wrap p-0">
        <button class="col-2 oi oi-arrow-left float-left clear-left text-left border-0 bg-white" (click)="previousMonth()"></button>
        <span class="col-8 float-left text-center">{{month.name}}, {{year}}</span>
        <button class="col-2 oi oi-arrow-right float-left text-right border-0 bg-white" (click)="nextMonth()"></button>
        <div class="col-12 float-left clear-left mt-2 border-top border-bottom border-secondary px-1">
            <div *ngFor="let day of days" class="col-week height-50 float-left p-1"
                 [ngClass]="{'border border-dark': today.getDate() === day.getDate() && (today.getMonth() + 1) == month.number && today.getFullYear() == year,
                             'bg-light': day.getDay() == 0 || day.getDay() == 6}">
                {{day.getDate()}}
            </div>
        </div>
    </div>
</div>
