<div class="col-12 col-md-8 col-lg-6">
    <!-- Request form -->
    <span class="col-12 float-left clear-left text-right px-0">{{hours.left}} hours left of {{hours.total}}</span>
    <span class="float-left clear-left col-12 p-0">
        <label for="start_date" class="col-6 float-left clear-left">Start date: </label>
        <input type="date" id="start_date" value="{{date}}" class="col-4 float-left px-0 px-md-3" (change)="end_date.value = start_date.value" #start_date>
        <input type="time" title="Start time" value="09:00" class="col-2 float-right px-0 px-md-3" (change)="end_time.value = start_time.value" step="1800" min="08:00" max="18:00" #start_time>
    </span>
    <span *ngIf="startTimeError != ''" class="col-6 text-danger float-right clear-right px-0 text-right">{{startTimeError}}</span>

    <span class="float-left clear-left col-12 p-0">
        <label for="end_date" class="col-6 float-left clear-left">End date: </label>
        <input type="date" id="end_date" value="{{date}}" class="col-4 float-left px-0 px-md-3" #end_date>
        <input type="time" title="End time" value="17:00" class="col-2 float-right px-0 px-md-3" step="1800" min="08:00" max="18:00" #end_time>
    </span>
    <span *ngIf="endTimeError != ''" class="col-6 text-danger float-right clear-right px-0 text-right">{{endTimeError}}</span>

    <span class="float-left clear-left col-12 p-0">
        <label for="type" class="col-6 float-left clear-left">Leave type: </label>
        <select id="type" class="col-6 float-right" #type>
            <option value="pto">PTO</option>
            <option value="special">Special</option>
            <option value="appointment">Doctor's appointment</option>
            <option value="standard" *ngIf="user.admin === true">Standard</option>
        </select>
    </span>

    <span class="float-left clear-left col-12 p-0">
        <label for="description" class="col-6 float-left clear-left">Description: </label>
        <textarea id="description" class="col-6 float-right" rows="1" #descr>{{description}}</textarea>
    </span>
    <span *ngIf="descriptionError != ''" class="col-6 text-danger float-right clear-right px-0 text-right">{{descriptionError}}</span>

    <button class="col-6 float-right clear-right mt-2 bg-dark border border-secondary text-light"
            (click)="sendRequest(start_date.value, start_time.value, end_date.value, end_time.value, type.selectedOptions[0].value, descr.value)">SUBMIT</button>

    <span *ngIf="success" class="col-6 float-right clear-right text-success text-right px-1">Leave requested!</span>

    <!-- Calendar -->
    <div class="col-12 float-left clear-left mt-5 flex-wrap p-0">
        <button class="col-2 oi oi-arrow-left float-left clear-left text-left border-0 bg-white" (click)="previousMonth()"></button>
        <span class="col-8 float-left text-center">{{month.name}}, {{year}}</span>
        <button class="col-2 oi oi-arrow-right float-left text-right border-0 bg-white" (click)="nextMonth()"></button>
        <div class="col-12 float-left clear-left mt-2 border-top border-bottom border-secondary px-0">
            <div *ngFor="let preday of predays" class="col-week height-50 float-left p-1 bg-light empty-div"></div>
            <div *ngFor="let day of days" class="col-week height-50 float-left p-1"
                 [ngClass]="{'border border-dark': today.getDate() === day.getDate() && (today.getMonth() + 1) == month.number && today.getFullYear() == year,
                             'bg-light': day.getDay() == 0 || day.getDay() == 6,
                             'bg-standard': stati[day.getDate()] == 'standard',
                             'bg-approved': stati[day.getDate()] == 'approved',
                             'bg-hold': stati[day.getDate()] == 'hold',
                             'bg-past': stati[day.getDate()] == 'past',
                             'bg-near': stati[day.getDate()] == 'near',
                             'bg-full': stati[day.getDate()] == 'full'}">
                {{day.getDate()}}
            </div>
        </div>
        <div>
            <div class="col-1 px-0 mt-1 text-small empty-div float-left clear-left bg-standard"></div><div class="col-3 px-1 mt-1 float-left text-smaller text-small">Standard</div>
            <div class="col-1 px-0 mt-1 text-small empty-div float-left bg-past"></div><div class="col-3 px-1 mt-1 float-left text-smaller text-small">Past</div>
            <div class="col-1 px-0 mt-1 text-small empty-div float-left clear-left bg-approved"></div><div class="col-3 px-1 mt-1 float-left text-smaller text-small">Approved</div>
            <div class="col-1 px-0 mt-1 text-small empty-div float-left bg-near"></div><div class="col-3 px-1 mt-1 float-left text-smaller text-small">Nearly full</div>
            <div class="col-1 px-0 mt-1 text-small empty-div float-left clear-left bg-hold"></div><div class="col-3 px-1 mt-1 float-left text-smaller text-small">Hold</div>
            <div class="col-1 px-0 mt-1 text-small empty-div float-left bg-full"></div><div class="col-3 px-1 mt-1 float-left text-smaller text-small">Full</div>
        </div>
    </div>

    <!-- Currents list -->
    <div class="col-12 float-left clear-left mt-5 px-0">
        <div class="px-0 float-left clear-left font-weight-bold">Current requests: </div>
        <div class="px-0 mb-1 border-bottom border-secondary col-3 float-left clear-left">Start</div>
        <div class="px-0 mb-1 border-bottom border-secondary col-3 float-left">End</div>
        <div class="px-0 mb-1 border-bottom border-secondary col-6 float-left">Description</div>
        <span *ngFor="let request of requests" class="col-12 float-left clear-left px-0">
            <span class="col-3 px-0 float-left clear-left">{{request.start.split(" ")[0]}}</span>
            <span class="col-3 px-0 float-left">{{request.end.split(" ")[0]}}</span>
            <span class="col-6 px-0 float-left">{{request.description.replace("\\", "")}}
                <span (click)="deleteRequest(request.id)" [ngClass]="{'oi oi-x float-right p-1': request.end.split(' ')[0] >= today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + (today.getDate().length == 1 ? '0' + today.getDate() : today.getDate())}"></span>
                <span (click)="editRequest(request.id)" [ngClass]="{'oi oi-pencil float-right p-1': request.end.split(' ')[0] >= today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + (today.getDate().length == 1 ? '0' + today.getDate() : today.getDate())}"></span>
            </span>
        </span>
    </div>
</div>
