<div class="col-12 col-md-8 col-lg-6">
    <span class="float-left clear-left col-12 p-0">
        <label for="email" class="col-6 float-left clear-left">Email: </label>
        <input id="email" type="email" class="col-6 float-left" #email>
    </span>
    <span *ngIf="emailError != ''" class="text-danger float-right float-md-left clear-left clear-md-none px-md-1">{{emailError}}</span>

    <span class="float-left clear-left col-12 p-0">
        <label for="password" class="col-6 float-left clear-left">Password: </label>
        <input id="password" type="password" class="col-6 float-left" #password>
    </span>
    <span *ngIf="passwordError != ''" class="text-danger float-right clear-right px-md-1">{{passwordError}}</span>

    <button class="col-6 float-right clear-right mt-2 bg-dark border border-secondary text-light" (click)="login(email.value, password.value)">LOGIN</button>
</div>
