<div class="d-none d-md-block col-md-5 col-lg-3 float-left border-right px-0" *ngIf="user.admin == true">
    <div *ngFor="let employee of employees">
        <span [ngClass]="(selected == employee.id) ? 'email-list-item-active' : ''" class="d-block email-list-item px-3 rounded-left" (click)="load(employee.id)">{{employee.first_name}} {{employee.last_name}}</span>
    </div>
</div>

<div class="col-12 col-md-7 col-lg-6 float-left">
    <span class="float-left clear-left col-12 p-0">
        <label [hidden]="user.admin == true" for="password_old" class="col-6 float-left clear-left">Old password: </label>
        <input [hidden]="user.admin == true" type="password" id="password_old" class="col-6 float-right" #old_password>
    </span>
    <span *ngIf="oldPasswordError != ''" class="col-6 float-right mb-2 text-danger">{{oldPasswordError}}</span>

    <span class="float-left clear-left col-12 p-0">
        <label for="password" class="col-6 float-left clear-left">New password: </label>
        <input type="password" id="password" class="col-6 float-right" #password>
    </span>
    <span *ngIf="passwordError != ''" class="col-6 float-right mb-2 text-danger">{{passwordError}}</span>

    <span class="float-left clear-left col-12 p-0">
        <label for="password_repeat" class="col-6 float-left clear-left">Repeat password: </label>
        <input type="password" id="password_repeat" class="col-6 float-right" #repeat_password>
    </span>
    <span *ngIf="repeatPasswordError != ''" class="col-6 float-right mb-2 text-danger">{{repeatPasswordError}}</span>

    <label [hidden]="user.admin != 1" for="department" class="col-6 float-left clear-left">New department: </label>
    <select [hidden]="user.admin != 1" type="text" id="department" class="col-6 float-right" #department>
        <option [selected]="current.department == 'it'" value="it">IT</option>
        <option [selected]="current.department == 'hr'" value="hr">HR</option>
        <option [selected]="current.department == 'rd'" value="rd">R&D</option>
        <option [selected]="current.department == 'accounting'" value="accounting">Accounting</option>
        <option [selected]="current.department == 'sales'" value="sales">Sales</option>
    </select>
    <label [hidden]="user.admin != true" for="admin" class="col-6 float-left clear-left">Admin status: </label>
    <input [hidden]="user.admin != true" type="checkbox" id="admin" class="float-right" [checked]="current.admin" #admin>
    <button class="col-6 float-right clear-right mt-2 bg-dark border border-secondary text-light"
            (click)="update(old_password, password.value, repeat_password.value, department, admin)">UPDATE</button>
    <span *ngIf="uploadMessage != ''" class="float-right clear-right text-success">{{uploadMessage}}</span>
</div>
